  <header>
  <!-- Navbar -->
 
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Heading</h1>
    <h4 class="mb-3">Subheading</h4>
    <a class="btn btn-outline-dark btn-round mb-3 no-button
              shadow-pop-bottom-left
              '
              data-mdb-ripple-color='dark'>Submit" href="" role="button">Create a Post</a>
  </div>
  <!-- Jumbotron -->
</header>
